<%- include('partials/base_head') %>

<h2>Reservation canceled</h2>
<ul>
<li>Room: <%= roomName %></li>
<li>Room #: <%= roomId %></li>
<li>Period: <%= new Date(rentedFrom).toDateString() %> - <%= new Date(rentedTo).toDateString() %></li>
</ul>

<%- include('partials/base_tail') %>
